[project]
authors = [{ name = "A.suzuki", email = "suzu.devworks@gmail.com" }]
description = "Default template for PDM package"
dynamic = ["version"]
license = { text = "MIT" }
name = "examples-flask-media"
readme = "README.md"
requires-python = ">=3.12"

dependencies = ["flask>=3.1.2"]

[build-system]
build-backend = "pdm.backend"
requires = ["pdm-backend"]


[tool.pdm]
distribution = true

[tool.pdm.version]
path = "src/examples_flask_media/__version__.py"
source = "file"

[tool.pdm.scripts]
dev = "flask --app examples_flask_media run --debug"
