[project]
name = "examples-flask-media"
version = "0.1.0"
description = "Default template for PDM package"
authors = [
    {name = "A.suzuki", email = "suzu.devworks@gmail.com"},
]
dependencies = ["flask>=3.1.2"]
requires-python = ">=3.12"
readme = "README.md"
license = {text = "MIT"}

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"


[tool.pdm]
distribution = true
