:root {
  color-scheme: light dark;

  --background-primary-color: light-dark(rgb(240 240 230), rgb(40, 40, 34));
  --text-primary-color: light-dark(rgb(0 0 0), rgb(240 240 240));
  --text-secondary-color: light-dark(rgb(0 0 0 /0.6), rgb(240 240 240 /0.6));
}

body {
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Arial, "Yu Gothic", Meiryo, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(70 70 60);
  color: rgb(240 240 240);
  box-shadow: 0 3px 10px 3px rgb(120 120 60);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.2rem 1rem;
}

header h1 {
  font-size: 1rem;
  text-shadow: 0 0 2px rgb(200 200 200 /0.6);
  text-decoration: underline;
  text-decoration-color: rgb(200 200 200 /0.6);
  margin: 0;
}

main {
  margin-top: 2rem;
  padding: 1rem;
}

main > h2 {
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

main ul {
  list-style: square;
}

main ul > li:has(a) {
  margin-top: 0.5rem;
}

main ul > li > div {
  font-size: 0.82rem;
  color: var(--text-secondary-color);
  padding: 0.25rem 0;
}

main section {
  border: 1px solid rgb(230 230 230);
  border-radius: 10px;
  box-shadow: 0 0 12px 3px rgb(120 120 60);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 60vw;
}

main section > h3 {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

footer {
  background-color: rgb(218, 218, 218);
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0.2rem 1rem;
}

footer span > code {
  color: rgb(80 80 100);
}

footer span > code.overwritten {
  color: rgb(210 0 0);
}

footer span > code::after {
  content: "style:@/static/style.css";
  color: rgb(100 100 160);
  margin-left: 1rem;
}
