h1 {
    border-color: rgb(200 0 0);
}

.css-test::before {
    content: "/reference_relative/static/references/relative/style.css";
    color: rgb(200 0 0);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
