[project]
authors = [{ name = "A.suzuki", email = "suzu.devworks@gmail.com" }]
dependencies = ["flask>=3.1.2"]
description = "Default template for PDM package"
license = { text = "MIT" }
name = "examples-flask"
readme = "README.md"
requires-python = ">=3.12"
version = "0.1.0"

[build-system]
build-backend = "pdm.backend"
requires = ["pdm-backend"]


[tool.pdm]
distribution = true
