/*  blueprints/_04_resources/static/style.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.1rem 0.5rem;
}

header h1 {
    font-size: 1.5rem;
}

main {
    padding: 0.1rem 0.5rem;
}

footer {
    padding: 0.1rem 0.5rem;
}

footer p {
    text-shadow: rgb(0 0 255 /.4) 3px 3px 5px;
}

footer p::after {
    content: "@/static/resources/style.css";
    display: block;
}
