h1 {
    border-bottom: 2px solid transparent;
}

pre {
    font-size: 0.82rem;
    font-family: monospace;
    background-color: #eeeeff;
    color: #000;
    padding: 0.5rem;
}

code {
    background-color: #f0f0f0;
    color: #339;
    padding: 0.1rem 0.5rem;
}
